<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">Listado de productos</span>
                    <button class="btn btn-success float-end" routerLink="/crear-producto">
                        Nuevo
                    </button>
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Código</th>
                            <th scope="col">Producto</th>
                            <th scope="col">Ubicación</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Acciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of listProductos">
                            <th scope="row">{{listProductos.indexOf(item)+1}}</th>
                            <td>{{item.nombre}}</td>
                            <td>{{item.ubicacion}}</td>
                            <td>{{item.precio}}</td>
                            <td><i routerLink="/editar-producto/{{item._id}}" class="fa-solid fa-pen-to-square text-info"></i> 
                              <i (click)="eliminarProducto(item._id)"class="fa-solid fa-trash text-danger mx-2"></i></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <button class="btn btn-primary" (click)="action()">Oprimeme</button>
<button class="btn btn-primary" (click)="crear()">Oprimeme2</button>
<button class="btn btn-primary" (click)="getDocCit()">Oprimeme3</button>
<button class="btn btn-primary" (click)="userdAdd()">Oprimeme3</button>
<div *ngFor="let city of cities">
<h1>{{city}}</h1>
</div> -->