<div class="container mt-5">
    <div class="col-lg-6 offset-lg-3">
        <div class="card">
            <div class="card-body">
                <span class="titulo">{{titulo}}</span>
                <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
                    <div class="mt-3">
                        <input type="text" class="form-control form-control-lg mt-3" placeholder="Producto"
                            formControlName="producto">
                        <div class="advertencias text-danger"
                            *ngIf="productForm.get('producto')?.hasError('required') && productForm.get('producto')?.touched">
                            <span>Este campo es <strong>obligatorio</strong>.</span>
                        </div>
                        <input type="text" class="form-control form-control-lg mt-2" placeholder="Ubicación"
                            formControlName="ubicacion">
                        <div class="advertencias text-danger"
                            *ngIf="productForm.get('ubicacion')?.hasError('required') && productForm.get('ubicacion')?.touched">
                            <span>Este campo es <strong>obligatorio</strong>.</span>
                        </div>
                        <input type="text" class="form-control form-control-lg mt-2" placeholder="Precio"
                            formControlName="precio">
                            <div class="advertencias text-danger" *ngIf="productForm.get('precio')?.hasError('required') && productForm.get('precio')?.touched">
                                <span>Este campo es <strong>obligatorio</strong>.</span>
                            </div>
                    </div>
                    <div class="mt-3">
                        <button class="btn btn-secondary float-start">
                            Volver
                        </button>
                        <button class="btn btn-success float-end" type="submit" [disabled]="productForm.invalid">
                            Nuevo
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>